/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


/* Whole Body Styles */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
/* This is Header Section  */
header{
  /* margin-top: 50px; */
 
}
.navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
}
.nav-title{
 color: #131313;
 font-style: bold;
 font-size: 25px;
}
.nav-element ul{
  display: flex;
  column-gap: 20px;
}
.nav-element ul li{
  list-style: none;
}
.nav-element ul li a{
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}

/* Style Main section  */

main{
  background:rgba(255, 144, 14, 0.1);
}
.brand-container{
padding: 100px auto;

}
#brand-details{
  margin: 0 auto;
  width: 862px;
}
#brand-details h1{
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #131313;
  line-height: 75px;
  line-height: 100%;
}
#brand-details p{
 font-size: 16px;
 line-height: 26px;
 line-height: 139%;
 text-align: center;
}
.explor-btn{
  text-align: center;
  margin-left: 42%;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  color: #ffffff;
  border: none;
  background-color: #FF900E;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 2%;
  padding: 12px 14px;
  cursor: pointer;
}

/* Styles Brand Image Section */
.brand-img{
  margin-bottom: 50px;
}
img{
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 1000px;
  height: 500px;
}

/*==============
Styles Features Section
 ===========================*/

.feature-section{
  background: #ffffff;
  padding: 0% 15%;
}
#features{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  position: relative;
  top: -20px;
}
.features-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
.features-img img{
  width: 250px;
  height: 230px;
}
.features-desc{
  justify-content: center;
  align-items: center;
}
.explors-btn{
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  color: #ffffff;
  border: none;
  background-color: #FF900E;
  padding: 12px 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* ==============
 Styles Favorite Section
 =============================== */
#favorite-section{
padding: 0% 8%;
}
.favourites{
  display: flex;
}
.favorites-des{
  width: 586px;
  height: 982px;
  padding-top: 70px;
}
.fav-title{
  border-left: 5px solid #FF900E;
  font-weight: 700;
  font-size: 45px;
  padding-left: 12px;
}
.fav-desc{
  font-size: 16px;
  color: #727272;
  margin: 24px 0px 30px 0px;
}
.fav-cards{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 20px;
  gap: 20px;
}
.card{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.306);
  Offset: 0px, 4px, 0px, 4px;
}

.fav-cards .card:hover{
  background-color: #413fb4;
  transition: all 0.25s ease-in;
  transform: scale(1.05);
  border: 1px solid rgba(40, 45, 77, 0.5);
  box-shadow: 0.8px 12px 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  cursor: pointer;
}

.favourite-img img{
  width: 580px;
  height: 982px;
  object-fit: cover;
  object-position: 12px;
}
.favourite-img button{
position: relative;
background-color: #FF900E;
border: none;
border-radius: 5px;
top: -131px;
cursor: pointer;
left: 31px;
padding: 30px;
color: #FFFFFF;
}
.years{
  font-weight: 700;
  font-size: 65px;
}
/* ====================
Facts Section styles 
================================ */

.facts-section{
  background-color: #FFFFFF;
  padding: 0% 8%;
}
.fact-title{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  text-align: center;
}
.fact-details{
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  line-height: 139%;
  text-align: center;
  
}
.fact-cards{
  margin-top: 10%;
}
.card-container{
  display: flex;
  justify-content: space-around;
}
.fact-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 215.83px;
  height: 220.83px;
  border: 1px solid #FF900E;
  border-radius: 6px;
}
.fact-card img{
  width: 45.22px;
  height: 45.22px;
  margin: 0;
}
.fact-card h2{
  font-weight: 600;
  font-size: 25px;
  color: #424242;
  margin: 10px;
}
.fact-card p{
  font-weight: 600;
  font-size: 15px;
  color: #727272;
}
.card-container .fact-card:hover{
  background-color: #413fb4;
  transition: all 0.25s ease-in;
  transform: scale(1.05);
  border: 1px solid rgba(40, 45, 77, 0.5);
  box-shadow: 0.8px 12px 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  cursor: pointer;
}

/* ========================
 Styles Sponspors Section 
======================================== */
#sponspors-section{
  background-color: #ffffff;
  padding: 0% 8%;
}
.sponspor-info{
  width: 540;
  height: 130px;
  margin: 0 auto;
}
.sponspor-info h2{
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  line-height: 53px;
  line-height: 100%;
}
.sponspor-info p{
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  line-height: 139%;
  margin-top: 10px;
  padding: 0px 56px;
  text-align: center;
}
.sponspors-img{
  display: flex;
  justify-content: space-between;
}
.sponspors-img img{
  width: 165.83px;
  height: 50px;
  filter: grayscale(100%);
  margin-left: 0;
}

/* =====================
styles Contract section
==============================  */

#contract-section {
  margin-top: 80px;
  position: relative;
}

#contract-section h1 {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
  text-align: center;
  margin-bottom: 50px;

}

#contract-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contract-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1.1rem;
}

#contract-box form {
  width: 40%;
}

#contract-box label {
  font-size: 1.1rem;
}

.btn-sb{
  font-weight: 50;
  font-size: 15px;
  color: #ffffff;
  border: none;
  background-color: #FF900E;
  border-radius: 2px;
  cursor: pointer;
}
.btn-rs{
  font-weight: 50;
  font-size: 15px;
  color: #000000;
  border: none;
  background-color: #ff0e0e;
  border-radius: 2px;
  cursor: pointer;
}


footer {
  background-color: rgb(34, 5, 5);
  width: 100%;
  height: 200px;
}

footer h3 {
  color: white;
  text-align: center;
  padding-top: 80px;
}

/* ==================
 Responsive For Mobile Devices 
 ========================================== */
 
@media only screen and (max-width:576px) {
  .navigation-container{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-right: 23;
    overflow-x: hidden;

  }
  main{
    overflow-x: hidden;
  }
  .nav-element ul{
    display: flex;
    padding-left: 65px;
    gap: 8px;
  }
  .nav-title h3{
    margin-left: 80px;
  }
  #brand-details h1{
    font-weight: 700;
    padding-right: 500px;
    font-size: 25px;
  }
  #brand-details p{
    font-size: 12;
    width: 350px;
    padding-left: 10px;
  }
  .brand-img img{
    margin-left: 0;
    width: 400px;

  }
  .explor-btn{
    margin-left: 88px;
  }
  #features{
    display: flex;
    flex-direction: column;
  }
  .features-img{
    display: flex;
    flex-direction: column;
  }
.favourites{
  display: flex;
  flex-direction: column-reverse;
}
.favourite-img img{
  margin-left: 0px;
  width: 310px;
  height: 400px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
.favourite-img button{
  width: 290px;
  height: 120px;
  top: -135;
  margin-top: 15px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.sponspors-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 310px;
  padding-top: 120px;
  gap: 12px;
}
#contract-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  flex-direction: column;
  gap: 10px;
}



}








